@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar CSS */
.nav-header li, a , button, p {
    font-family: "Monstserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.current-page {
    color:#016d88;
}



.log-button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log-button:hover {
    background-color: rgba(0,136,169,0.8);
}
/* End of navbar CSS */


.slot-body {
    min-height: 100dvh;
    width: 100%;
    background-color: white;
}

/* table */
table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tr {
    text-align: left;
}

/* end of table */



/* Pagination */
nav {
    display: flex;
    justify-content: center;
}
.pagination {
    color: #009879;
    margin-bottom: 60px;
    font-size:xx-large;
}
.pagination a {
    color: black;
}
.pagination li {
    display: inline-block;
    align-items: center;
}

.th-sort {
    color: #ffffff;
}

/* Grid CSS */

.grid-body {
    display: grid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background-clip: content-box;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #009879;
    margin: 10px;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    align-items: center;
}

.grid-div p {
    color: #ffffff;
    
}

.grid-div a {
    color: #a3aff7;
}

.grid-div a:hover {
    color:#8892cc;
}

.no-data {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 30px;
}