*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}


/*Login page */
.login-page {
    background-color:#004E64;
}

.login-container {
    position: fixed;
    inset: 0px;
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}

.login-header {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    margin: 5%;  
}

.form-input {
   width: 100%;
   height: 40px;
   font-size: 17px;
   padding: 0 25px;
   margin-bottom: 16px; 
   border-radius: 30px;
   border: none;
}

.button-form {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #87919E;
    border:none;
    border-radius: 30px;
    margin-top:10px;
    color:#ffffff;
}
.button-form:hover {
    background-color: #676f79
}
.error-text {
    color: red;
}
/* end of login page */
